#bodi
{
	margin: 0;
	padding: 0;
	width: 100%;
	background-color: #e5beae;
	font-family: sans-serif;
}


#navbar
{
	width: 100%;
	background-color: #B94629;
	position: fixed;
	z-index: 999;
}

ul
{
	width: 80%;
	margin: 0 auto;
	padding: 0;
}


ul.navbar2 li
{
	list-style: none;
	display: inline-block;
	padding: 25px;
}

ul.navbar2 li:hover
{
	background-color: #E3DEC1 
}

ul.navbar2 li a
{
	color:#E89F65;
	text-decoration: none;
}

.toggle
{
	width: 	100%;
	padding: 10px 20px;
	background: #47AFAF;
	text-align: right;
	box-sizing: border-box;
	color: #E89F65;
	font-size: 30px;
	display: none;
}
@media(max-width: 768px)
{
	.toggle
	{
		display: block;
	}
	ul.navbar2
	{
		width: 100%;
		display: none;
	}

	ul.navbar2 li
	{
		display: block;
		text-align: center;
	}
	.active
	{
		display: block;
	}
}

#gambar
{
	height: 768px;
	background-color: #222930;
	text-align: center;
	transition: 0.9s;

}

#gambar:hover
{
	background-color: #4a5059;
	transition: 0.9s;

}

.text
{
	font-family: "Comic sans MS";
	color: #e88553;
	font-size: 50px;
	padding-top: 85px;
	justify-content: center;
	display: flex;
	align-items: center;
	transition: 0.9s;

}
#gambar:hover > .text
{
	color: #ff5305;
	transform: translate(0, -4px);

}
#foto-sean
{
	padding-top: 170px;
	width: 260px;
	height: 300px;
	transition: 0.9s;
	text-align: center;
}

#gambar:hover > #foto-sean
{
	transition: 0.9s;
	transform: translate(0, -4px);
}


ul.display-block
{
	margin: 0;
	list-style: none;
}

ul.display-block li
{
	margin: 0;
}

ul.list
{
	margin: 0;
}

ul.list li
{
	padding: 25px;
	display: inline-block;
}


.judul
{
	padding: 0;
	margin: 0;
	text-align: center;
	font-family: "Copperplate Gothic Bold";
	font-size: 25px;
}
#data-diri
{
	padding-top: 68px;
	background-color: #E4DBBF;
	height: 700px;
}

.fas, .fab
{
	font-size: 100px;
}


ul.display-block
{
	margin: 0;
	padding: 0;
	columns: 2;
}
ul.display-block li
{
	font-family: "Bauhaus 93";
	color: #5b5557;
	width: 250px;
	height: 100px;
	padding: 80px 270px;
	display: inline-block;
	font-size: 30px;
	vertical-align: center;
	text-align: center;
	vertical-align: top;
}

#keahlian
{
	background-color: #DC5B21;
	height: 700px;	
	padding-top: 68px;
}

#hobi
{
	background-color: #70AB8F;
	height: 700px;
	padding-top: 68px;
}

#medsos
{
	background-color: #222930;
	height: 100px;
	padding-top: 15px;
}



.a
{
	font-size: 30px;
}

#judul-medsos
{
	margin: 0;
	font-size: 10px;
	font-family: "Felix Titling";
}
ul#display-medsos
{
	margin: 0;
	width: 100%;
	padding: 0;
}

ul#display-medsos li
{
	font-family: "Bauhaus 93";
	color: #5b5557;
	margin-top: 5px;
	padding: 5px 20px;
	display: inline-block;
	font-size: 10px;
	text-decoration: none;

}

ul#display-medsos li  a
{
	color: black;
	transition: 1s;
}

ul#display-medsos li  a:hover
{
	color: white;
	transition: 1s;
}